<h1 class="text-center mt-4 mb-4">Homepage</h1>
<h4 class="mb-2">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci maxime
  deserunt, quia magnam dolorum ipsum enim perferendis ratione dolores tenetur,
  fugiat consequuntur! Velit laudantium fugiat vero, culpa numquam doloribus
  quasi!
</h4>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
  exercitationem expedita repellendus accusantium doloremque harum perferendis,
  obcaecati distinctio minima neque nulla error commodi dignissimos vero porro
  dolorem labore tenetur, sapiente omnis quo laudantium totam dolore! Quaerat
  fuga facere reiciendis quas esse ut, est error optio consectetur ullam
  voluptas debitis eaque, exercitationem enim dolorum libero deserunt tempora
  aspernatur deleniti accusantium ipsam illum. Vitae, officia! Dolor
  repellendus, facere enim molestias amet quae beatae molestiae soluta? Deserunt
  magni exercitationem aliquam autem corporis illo cumque voluptatibus, alias
  earum dolor voluptatem ad, ipsa doloremque eligendi eaque doloribus modi! Fuga
  impedit vitae non, harum itaque laboriosam?
</p>

<h1 class="text-center mt-4 mb-4">Products List</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Seller Name</th>
      <th>Product</th>
      <th>Price</th>
      <th>Category</th>
      <th>Add to Buy</th>
    </tr>
  </thead>
  <tbody>
    <% @productlists.each do |p| %>
    <tr>
      <td><%= p.sellerName %></td>
      <td><%= p.prodcutName %></td>
      <td><%= p.price %></td> 
      <td><%= p.category %></td> 
      <td> <a href="buyers"><button type="button" class="btn btn-success">Buy Now</button></a></td> 
    </tr>
    <% end %>
  </tbody>
</table>



